@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}

:root {
    --header1:rgb(42, 109, 42);
    --header2:rgb(121, 247, 121);
    --fundo:rgba(113, 219, 113, 0.658);
    --titulo:green;
    --txtcontraste: white;

    --fontepadrao:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, Helvetica, sans-serif;
}

body {
    background-color: var(--fundo);
    font-family: var(--fontepadrao);
    margin: 0px;
}

header {
    background-image: linear-gradient(to top, var(--header1), var(--header2));
    color: var(--txtcontraste);
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.438);
    padding-top: 15px;
}

header > h1 {
    margin: 0px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

header > p {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    margin-bottom:0px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
}

nav {
    background-color: var(--header1);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.575);

}

nav > a {
    margin: 0px;
    text-decoration: none;
    color: var(--txtcontraste);
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.438);
    font-weight: bold;
}
nav > a > div {
    display: inline-block;
    height: 20px;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
    transition-duration: 0.5s;
}

nav > a > div:hover {
    background-color: var(--titulo);
    color: black;
}

a {
    text-decoration: none;
    color: var(--titulo);
    font-weight: bold;
}

section a:hover{
    color: black;
}

section {
    background-color: var(--txtcontraste);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}

section > h1 {
    font-family: android;
    margin-top: 0px;
    padding-top: 15px;
    margin-left: 15px;
    color: var(--titulo);
}

section > h2 {
    background-image: linear-gradient(to right, var(--header2), var(--txtcontraste));
    font-family: android;
    color: var(--titulo);
    margin: 15px;
}

section > p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
}

.imagem {
    width: 100%;
}

#bugdroid {
    max-width: 350px;
    display: block;
    margin: auto;
}

iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

#video {
    background-color: var(--titulo);
    position: relative;
    padding-bottom: 54%;
}

.fundovideo {
    background-color:var(--titulo);
    padding: 4%;

}

.extra {
    background-color: var(--fundo);
    margin: 15px;
    border-radius: 10px;
}

.extra > h3 {
    background-color: var(--titulo);
    color: var(--txtcontraste);
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    
}
.extra > p {
    padding: 15px 0px 0px 15px;
    text-indent: 30px;
}

asside p {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 30px;
}

asside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
}

footer > p{
    background-color: var(--header1);
    text-align: center;
    margin: 0px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--fundo);
}